<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace: package, id : class == FQCN -->
<!-- 여러개의 Mapper XML 마다, namespace 이름이 있기 때문에,
이 namespace 값도 고유해야 하고, 유의미하게 명명해야 합니다. -->

<mapper namespace="YosephMapper">

	<!-- 마이바티스는 SQL문을 저장한 태그명(SELECT/INSERT/UPDATE/DELETE)을
    알 수 있기 때문에, SELECT 문의 결과셋을 반환할 때, 개발자는 
    결과셋 테이블의 1개의 행을 온전히 저장할 수 있는 VO 타입을
    지정하셔야 합니다. -->
    <select id="selectAllBoards" resultType="org.zerock.myapp.domain.BoardVO">
        SELECT /*+ index_desc(tbl_board) */ *
        FROM tbl_board
        WHERE bno > 0
    </select>

    <!-- <select id="findBoardByBno" resultType="org.zerock.myapp.domain.BoardVO"> -->
    <select id="findBoardByBno" resultType="org.zerock.myapp.domain.BoardDTO">
        <!-- SELECT * -->
        SELECT bno, title
        FROM tbl_board
        WHERE 
            <if test="bno != null">
                bno = #{bno}
            </if>
    </select>

    <select id="findBoardsByTitle" resultType="org.zerock.myapp.domain.BoardVO">
        SELECT *
        FROM tbl_board
        <!-- WHERE title LIKE '%' || #{title} || '%' -->

        <where>
            <if test="title != null">
                title LIKE '%' || #{title} || '%'
            </if>
        </where>
    </select>

    <select id="findBoardsByBnoOrTitle" resultType="org.zerock.myapp.domain.BoardVO">
        SELECT *
        FROM tbl_board
        <!-- WHERE
            bno = #{bno}
            OR title LIKE '%' || #{title} || '%' -->

        <!-- Case1. <where> & <if> tags -->
        <!-- 
		<where>
            <if test="bno != null">
                bno = #{bno}
            </if>

            <if test="title != null">
                OR title LIKE '%' || #{title} || '%'
            </if>
        </where> 
        -->

        <!-- Case2. <choose>, <when>, <otherwise> tags -->
        <where>
            <choose>
                <when test="bno != null">
                    bno = #{bno}
                </when>

                <when test="title != null">
                    OR title LIKE '%' || #{title} || '%'
                </when>

                <otherwise>
                    bno > 0
                </otherwise>
            </choose>
        </where>
    </select>

	<!-- 모든 DML 문장에 대한 resultType 속성은 이미 int로 고정되어 있기 때문에
	오히려 지정하시면 오류가 발생합니다. -->
    <insert id="insertBoard">
        INSERT INTO tbl_board (title, content, writer)
        VALUES ( #{title}, #{content}, #{writer} )
    </insert>

</mapper>
