<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace: package, id : class == FQCN -->
<!-- 여러 개의 Mapper XML 마다, namespace 이름이 있기 댸문에,
이 namespace 값도 고유해야 하고, 유의미하게 명명해야합니다 -->
<mapper namespace="org.zerock.myapp.mapper.MixedMapper">
<!-- <mapper namespace="Mapper 인터페이스의 FQCN으로 해야함" -> 레지스토 등록안해도 자동으로 > -->   
    <select id="getNowWithXML" resultType="String">
    	SELECT current_date AS now
    	FROM dual
    </select>

	
    
    
</mapper>