
body{
    margin: 0;
}

main {
    /* width: 100vw; */
    width: 100vw;
    height: 100vh;
    /* border: 5px solid orange; */

    background: url("../img/red-christmas-background-with-jingle-bells.png");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    /* background-color: #9c2424; */
    /* <header>, <section> 자식요소를 좌/우로 배치하기 위해 flex 설정 */
    display: flex;
}

/* ============================================ */

main header {
    width: 12%;
    /* height: 100%; */
    height: 80vh;
    padding: 10vh 5vw;
    /* border: 10px inset purple; */

    display: flex;
    /* 자식요소를 `가로로` 중간에 배치 */
    justify-content: center;
    /* 자식요소를 `세로로` 상/하 끝단에 배치 */
    align-content: space-between;
    /* 만일 가로폭이 모자라면, 다음 자식요소를 세로로 줄바꿈 되도록 이동 */
    flex-wrap: wrap;

    position: relative;

    /* <section>, <aside> 요소보다 상위에 위치시키기 위해 설정 */
    z-index: 1;

    /* flex-direction: column; */
    
}

main header h1 {
    /* block 요소안에 inline 요소를 배치하면, inline 요소에 불필요한 자간과 줄높이가 추가되는 오류가 있음. (***)
    이를 해결하는 방법이 font-size: 0px; 임. (***) */

    /* 자간(letter-spacing)과 줄높이(line-height) 초기화 => 효과: `가로로 중앙에` 아이콘 배치 */
    font-size: 0px;
    margin-top: 55vh;
    text-align: center;
    
    color: white;
}
main header h1 > i {
    margin-bottom: 15px;
    /* margin-left : 100px; */
    font-size: 5vw;
}
main header h1 > span {
    font-size: 3vw;
    font-weight: bold;
    line-height: 1;
}
main header address {
    color: white;

    font-size: 30px;
    font-family: Arial;
    line-height: 1.2;
}

/* ============================================ */

main nav {
    /* border: 5px solid aqua; */

    position: absolute;
    top: 10vh;
    right: 5vw;

    /* <section>, <aside> 요소보다 상위에 위치시키기 위해 설정 */
    z-index: 2;
}
main nav ul {
    /* 자식요소를 가로로 배치하기 위해 flex 설정 */
    display: flex;   
}
main nav ul li {
    font-size: 0px;
}
main nav ul li a {
    margin-right: 30px;

    font-size: 18px;
    color: #bbb;
}

/* ============================================ */

main section {
    width: 80%;
    height: 85vh;
    /* height: 100vh; */

    padding-top: 140px;
    margin-right: 20px;

    /* border: 5px outset gold; */

    z-index: 1;

    position: relative;

    display: flex;
}

/* ============================================ */

main section article {
    padding: 90px 40px 100px;   

    /* 모든 article 요소의 너비를 동일하게 설정 */
    flex: 1;

    position: relative;

    cursor: pointer;
    opacity: 0.6;

    z-index: 1;

    /* transition: */
    /* 1. Apply to 1 property - property name | duration */
    /*                        - property name | duration | delay */
    /*                        - property name | duration | easing function */
    /*                        - property name | duration | easing function | delay */
    /* 2. Apply to 2 properties
                              - property name1 | duration1, property name2 | duration2 */
    /* 3. Apply to all changed properties
                              - all | duration | easing function */

    /* flex, opacity 속성에만 전환효과 적용 */
    transition: flex .5s, opacity .5s;

    /* transform-origin: center top; */
}
main section article::before {
    content: '';
    display: block;

    width: 95%;
    height: 95%;

    background: linear-gradient(180deg, rgba(255,255,255,0),rgba(255,255,255,0.8));

    position: absolute;
    top: 0px;
    left: 0px;

    opacity: 0;
    /* border: 1px dotted #999; */

    transition: 0.5s;
}
main section article .inner {
    width: 100%;
    height: 100%;

    position: relative;

    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}
main section article .inner .txt {
    width: 100%;

    transition: .5s;
}
main section article .inner .txt h2 {
    margin-bottom: 40px;
    padding-top: 70px;

    font-size: 2vw;
    font-weight: normal;
    font-family: 'Alegreya Sans', sans-serif;
    line-height: 1;

    color: #fff;

    transition: .5s;
    text-shadow: 2px 2px 7px #333;
}
main section article .inner .txt h2::after {
    content: '';
    display: block;

    width: 150px;
    height: 4px;
    margin-top: 20px;

    background-color: green;

    transition: .5s;
}
main section article .inner .txt p {
    color: white;

    font-size: 14px;
    font-family: Arial;
    line-height: 1.4;
}

/* ============================================ */

main section article .inner figure {
    width: 100%;
    height: 17vh;
    margin: 10px;

    background-color: #777;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, .3);

    transform-origin: left center;
    overflow: hidden;

    filter: saturate(10%);
    transition: .5s;    

    position: relative;
}
main section article .inner figure video {
    width: 100%;
    height: 100%;

    object-fit: cover;
    transform: scale(1);
}

/* ============================================ */

main section article:hover {
    flex: 1.5;  

    opacity: 1;
    z-index: 2;
}
main section article:hover::before {
    left: 0px;
    top : 0px;
    opacity: 1;

    width: 100%;
    transform: translateY(5%);
}
main section article:hover .inner .txt {
    width: 100%;

    margin-top:100px;
}
main section article:hover .inner .txt h2 {
    padding-top: 0px;

    font-size: 5vh;
    font-weight: bold;
    color: #fff;
}
main section article:hover .inner .txt h2::after {
    /* width: 120px; */
    width: 90%;
    background-color: green;
}
main section article:hover .inner figure {
    height: 20vh;

    filter: saturate(100%);
    /* transform: translateY(-3vh); */
}

main section article:hover .inner .txt p {
    color: #fff;
}

/* ============================================ */

main aside {
    box-sizing: border-box;

    width: 80%;
    height: 100vh;
    padding: 20vh 7vw 14vh 7vw;

    position: absolute;
    top: -110%;
    right: 0%;


    background-color: white;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;

    transform: scale(0);
    opacity: 0.5;

    z-index: 2;

    display: flex;
    justify-content: space-between;

    transition: 0.9s;
}

main aside.on {
    right: 0%;
    top : 0%;
    background: rgba(255,255,255,0.6);
    opacity: 1;
    transform: scale(1);
    backdrop-filter: blur(20px);
    
}
main aside .txt {
    width: 25%;
    height: 100%;
}
main aside .txt h1 {
    margin-bottom: 70px;
    margin-top : 15px;
    font-size: 4vw;
    font-weight: bold;
    font-family: 'Alegreya Sans', sans-serif;
    line-height: 1;

    color: black;
}
main aside .txt p {
    margin-bottom: 60px;

    font-size: 1.2vw;
    font-family: Arial;
    line-height: 1.3;

    color: black;
}
main aside .txt span {
    font-size: 4vw;

    cursor: pointer;
    color: green;
}
main aside figure {
    width: 72%;
    height: 100%;
}
main aside figure video {
    width: 100%;
    height: 70%;

    object-fit: cover;  
}

/* ============================================ */



