@charset "uft-8";

.banner {
    text-align: center;
    a > img {
        margin-top: 20px;
        margin-bottom: 0px;
        width: 460px;
        height: 147px;
    }
} 

li {
    display: inline;
}

.footer {
    margin-right: 25px;
    padding: 48px 0px 32px
}

.footer_inner {
    text-align :center;
    letter-spacing:-0.5px;
    text-decoration-line: none;
}

.footer_menu_bar {
    margin-bottom: 5px;
}

.footer_menu {
    font-size: 12px; 
    font-family: -apple-system, BlinkMacSystemFont, helvetica, "Apple SD Gothic Neo", sans-serif;
    a:link { 
        color : #888888;
    }
    a:visited { 
        color:#888888;
    }
    a:hover { 
        color:#888888;
        text-decoration-line: none;
    }
    a:active { 
        color:#888888;
    }
}

.footer_bar {
    display: inline-block;
    font-size: 12px; 
    font-family: -apple-system, BlinkMacSystemFont, helvetica, "Apple SD Gothic Neo", sans-serif;
    color: #DADADA;
}

.footer_copyright {
    margin-top: 0px;
    letter-spacing: 2px;
    font-family: apple-system, BlinkMacSystemFont, helvetica, "Apple SD Gothic Neo", sans-serif;
    font-size: 12px;
}

#naver_logo {
    > img {
       width: 70px;
       height: 15px;
       vertical-align: top;
       
   }
}

#copy {
    color: #888888;
    letter-spacing:-1px;
    
}

#corp {
    color: black;
    padding: 0px 2px;
    letter-spacing:-1px;
    font-weight: 550;
    
}

#all {
    color: #888888;
    letter-spacing:-1px;
}
