/* member1 */
body.member1 {
    background-color: #ebfaff;
}
body.member1 section article.profile img {
    box-shadow: 5px 15px 20px rgba(173, 216, 230, .8);
}
body.member1 section a.btnView {
    background: linear-gradient(45deg, #3dd6d6, #27ddf5);
    box-shadow: 5px 10px 20px rgba(0, 255, 255, .493);
}

/* member2 */
body.member2 {
    background-color: #edffeb;
}
body.member2 section article.profile img {
    box-shadow: 5px 15px 20px #bdccb783;
}
body.member2 section a.btnView {
    background: linear-gradient(45deg, #a0ff9d, #55f5b2);
    box-shadow: 5px 10px 20px rgba(33, 250, 105, .3);
}

/* member3 */
body.member3 {
    background-color: #fff3fd;
}
body.member3 section article.profile img {
    box-shadow: 5px 15px 20px rgba(252, 99, 214, .2);
}
body.member3 section a.btnView {
    background: linear-gradient(45deg, #ef74ff, #fd92e3);
    box-shadow: 5px 10px 20px rgba(255, 17, 196, .357);
}

/* member4 */
body.member4 {
    background-color: #f5f0ff;
}
body.member4 section article.profile img {
    box-shadow: 5px 15px 20px rgba(183, 82, 250, .2);
}
body.member4 section a.btnView {
    background: linear-gradient(45deg, #8e74ff, #a011ff);
    box-shadow: 5px 10px 20px rgba(160, 17, 255, .4);
}

section {
    width: 340px;

    /* 앞으로 넣을 컨텐츠에 따라 높이가 조정되도록 높이는 지정안함 */

    padding: 30px;
    margin: 50px auto;
    border-radius: 10px;

    background-color: #fff;

    box-shadow: 10px 10px 30px rgba(0, 0, 0, .1);
}
section nav.menu {
    width: 100%;
}

/* floating 된 자식요소의 높이값 인식을 위한 스타일 (***) */
section nav.menu::after {
    content: '';

    /* 아래 두개의 속성으로, <nav>태그가 `자식요소의 높이값`을 인식할 수 있도록 해줌. */
    /*  1. 강제로 display 속성값을 block으로 해야만 인식가능함. */
    /*  2. 더불어 float 속성을 clear 시킴으로써 자동인식하게 해줌. */
    display: block;             /* 가상요소(::after)이기 때문에, inline임. 이를 block으로 강제변환 (***) */
    clear: both;                /* (***) */
}

section nav.menu a:nth-of-type(1) {
    float: left;
}
section nav.menu a:nth-of-type(2) {
    float: right;
}
section article.profile {
    width: 100%;
    margin-top: 20px;

    /* 모든 inline 자식요소는, 아래의 속성을 통해 중앙정렬 가능함 (***) */
    text-align: center;
}
section article.profile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;

    /* box-shadow: 5px 15px 30px rgba(173, 216, 230, .8); */
}
section article.profile h1 {
    margin-bottom: 30px;

    /* font-weight: normal; */
    font-size: 18px;

    color: #ccc;
}
section article.profile h2 {
    margin-bottom: 10px;
    color: #555;
}
section a.btnView {
    display: block;

    width: 180px;
    height: 32px;
    margin: 0px auto 20px;
    border-radius: 16px;

    color: white;

    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    text-align: center;

    /* box-shadow: 5px 10px 20px rgba(0, 255, 255, .493);
    background: linear-gradient(45deg, #3dd6d6, #27ddf5); */
}
section ul.contact {
    margin-bottom: 25px;
}
section ul.contact li {
    width: 100%;
    padding: 10px 0px;
    border-bottom: 1px solid #eee;
}
section ul.contact li:last-child {
    border-bottom: none;
}
section ul.contact li i {
    width: 20%;
    text-align: center;

    color: #555;
    font-size: 15px;

    text-shadow: 2px 2px 2px #ddd;
}
section ul.contact li span {
    font-weight: normal;
    font-size: 15px;

    color: #555;
    letter-spacing: 1px;
}
section nav.others {
    width: 100%;
    text-align: center;
}
section nav.others a {
    display: inline-block;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 10px;

    opacity: .4;
    filter: saturate(.7);
}
section nav.others a.on {
    opacity: 1;
    filter: saturate(1);
}
section nav.others a:nth-of-type(1) {
    background-color: #35e0f7;
    box-shadow: 3px 3px 10px rgba(74, 255, 255, .7);
}
section nav.others a:nth-of-type(2) {
    background-color: #55f5cd;
    box-shadow: 3px 3px 10px rgba(84, 245, 178, .7);
}
section nav.others a:nth-of-type(3) {
    background-color: #ff80df;
    box-shadow: 3px 3px 10px rgba(255, 128, 223, .7);
}
section nav.others a:nth-of-type(4) {
    background-color: #a794fd;
    box-shadow: 3px 3px 10px rgba(167, 148, 253, .7);
}

