
section nav.others {
    width: 100%;
    text-align: center;
}
section nav.others a {
    display: inline-block;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 10px;

    opacity: .4;
    filter: saturate(.7);
}
section nav.others a.on {
    opacity: 1;
    filter: saturate(1);
}
section nav.others a:nth-of-type(1) {
    background-color: #35e0f7;
    box-shadow: 3px 3px 10px rgba(74, 255, 255, .7);
}
section nav.others a:nth-of-type(2) {
    background-color: #55f5cd;
    box-shadow: 3px 3px 10px rgba(84, 245, 178, .7);
}
section nav.others a:nth-of-type(3) {
    background-color: #ff80df;
    box-shadow: 3px 3px 10px rgba(255, 128, 223, .7);
}
section nav.others a:nth-of-type(4) {
    background-color: #a794fd;
    box-shadow: 3px 3px 10px rgba(167, 148, 253, .7);
}
section nav.others a:nth-of-type(5) {
    background-color: #55f5cd;
    box-shadow: 3px 3px 10px rgba(84, 245, 178, .7);
}
section nav.others a:nth-of-type(6) {
    background-color: #0059ff;
    box-shadow: 3px 3px 10px rgba(255, 1, 230, 0.7);
}
