

section {
    height: 600px;
    
    width: 340px; 
    


padding: 30px 50px;
margin: 30px auto;
border-radius: 10px; 
 
background-color: #ADD8E6;

box-shadow: 20px 10px 30px rgba(5, 5, 5, .5);
}

.rounded-image {
    width: 200px; /* 이미지 크기 조정 */
    height: 200px; /* 이미지 크기 조정 */
    border-radius: 50%; /* 원형으로 만들기 */
    object-fit: cover; /* 이미지가 잘리지 않게 하기 */
    margin-top: 30px;
}




h1 {
    text-align: center;
}

section img {
    width: 100%;  
    height: auto;  
    border-radius: 10px;  
    margin-left: 75px;
    
}
 
h2 {
    font-size: 36px;     
    color: #333;          
    text-align: center;   
    font-family: 'Arial', sans-serif;  
    margin-top: 30px;     
    margin-bottom: 10px;  
}
/* 전체 리스트 항목 스타일 */
ul {
    list-style-type: none;  
    padding: 0;
}

/* 리스트 항목 스타일 */
li {
    font-size: 20px;        /* 텍스트 크기 */
    margin-bottom: 20px;    /* 항목 간 간격 */
    display: flex;          /* 아이콘과 텍스트를 가로로 배치 */
    align-items: center;    /* 아이콘과 텍스트 세로 정렬 */
}

/* 아이콘 크기 */
li i {
    font-size: 30px;        /* 아이콘 크기 */
    margin-right: 20px;     /* 아이콘과 텍스트 사이 간격 */
}

/* 텍스트 크기 */
li span {
    font-size: 24px;        /* 텍스트 크기 */
    color: #333;            /* 텍스트 색상 */
}




 
  .btn {
    padding: 12px 50px; /*  패딩크기 */
    background-color:  #3498db; 
    color: white; /* 텍스트 색을 흰색으로 */
    font-weight: bold; /* 텍스트를 두껍게 */
    border: none; /* 기본 버튼 테두리 제거 */
    border-radius: 20px; /* 둥근 모서리 */
    font-size: 16px; /* 글씨 크기 설정 */
    display: block; /* 버튼을 블록 요소로 변경 */
    margin: 0 auto; /* 수평 중앙 정렬 */
    
}
a {
    text-decoration: none;  /* 밑줄 제거 */
  }
