<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.myapp.mapper.MixedMapper">
<!-- <mapper namespace="Mapper Interface의 FQCN으로 할것!"> -->

    <select id="getNowWithXML" resultType="string">
        SELECT current_date AS now 
        FROM dual
    </select>

</mapper>
